<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <title>Buttons</title>
  </head>
  <body>
    <button class="btn btn--primary">دانلود تپسی</button>
    <button class="btn btn--primary">ثبت سفارش</button>

    <button class="btn btn--secondary">seconady btn</button>
    <button class="btn btn--primary btn--block">
      primary block btn
    </button>
  </body>
</html>
