<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <title>contact-us</title>
  </head>
  <body>
    
    <section class="contact-us container block">
      <div class="contact_us__header">
        <h2 class="contact-us__title">ارتباط باما</h2>
        <p class="contact-us__desc">
          شما میتوانید , نظرات و انتقادات
          <br />
          خود را برای ما ارسال کنید .
        </p>
      </div>

      <div class="contact-us__body">
        <div class="contact-us__icon">
          <div class="icon-container">
            <i class="fa-brands fa-linkedin"></i>
          </div>
          <div class="icon-container">
            <i class="fa-brands fa-linkedin"></i>
          </div>
          <div class="icon-container">
            <i class="fa-brands fa-linkedin"></i>
          </div>
        </div>
        <div class="contact-us__address">
          <div class="address__holder">
            <span class="address-holder__label"
              >کردستان - سنندج - خ 2.</span
            >
            <div class="icon-container">
              <i class="fa-regular fa-location-dot"></i>
            </div>
          </div>
          <div class="address__holder">
            <span class="address-holder__label"
              >09182430012</span
            >
            <div class="icon-container">
              <i class="fa-solid fa-mobile-screen"></i>
            </div>
          </div>
          <div class="address__holder">
            <span class="address-holder__label"
              >info@fronthooks.ir</span
            >
            <div class="icon-container">
              <i class="fa-solid fa-envelope"></i>
            </div>
          </div>
        </div>
        <div class="contact-us__map">
          <img src="../assets/images/map.png" alt="" />
        </div>
        <div class="contact-us__form block">
          <div class="form__wrapper">
            <h3>
              نظرات شما
            </h3>
            <input type="text" placeholder="نام و نام خانوادگی"/>
            <input type="email" placeholder="ایمیل خود را وارد کنید"/>
            <textarea class="textarea"></textarea>
            <button class="btn btn--primary btn--block">ثبت نظر</button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
