<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <!-- <link rel="stylesheet" href="../css/style.css" /> -->
    <link rel="stylesheet" href="feature-flex.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <title>feature flex</title>
  </head>
  <body>
    <section class="feature">
      <div class="feature__detaile">
        <div class="feature__title">
          خدمات تپسی برای کسل و کار ها
        </div>
        <div class="feature__desc">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
          صنعت چاپ، و با استفاده از طراحان گرافیک است،
          چاپگرها و متون بلکه روزنامه و مجله در ستون و
          سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
          .مورد نیاز، و لورم ایپسوم متن ساختگی با تولید
          سادگی
        </div>
        <div class="feature__btn btn btn--primary">
          ورود و ثبت نام پنل سازمانی
        </div>
      </div>
      <!-- <div class="feature__image"> -->
        <img
          src="../assets/images/i-mac-1.png"
          alt="monitor mac book pro"
        />
      <!-- </div> -->
    </section>

    <section class="feature">
      <!-- <div class="feature__image"> -->
        <img
          src="../assets/images/i-mac-1.png"
          alt="monitor mac book pro"
        />
      <!-- </div> -->
      <div class="feature__detaile">
        <div class="feature__title">
          خدمات تپسی برای کسل و کار ها
        </div>
        <div class="feature__desc">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
          صنعت چاپ، و با استفاده از طراحان گرافیک است،
          چاپگرها و متون بلکه روزنامه و مجله در ستون و
          سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
          .مورد نیاز، و لورم ایپسوم متن
        </div>
        <div class="feature__btn btn btn--primary">
          ورود و ثبت نام پنل سازمانی
        </div>
      </div>
    </section>
  </body>
</html>
