<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <title>feature grid</title>
  </head>
  <body>
    
    <section class="feature container block">
      <div class="feature__image">
        <img
          src="../assets/images/i-mac-1.png"
          alt="imac laptop"
        />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">
          خدمات تپسی برای کسل و کار ها
        </h2>
        <p class="feature__desc">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
          صنعت چاپ، و با استفاده از طراحان گرافیک است،
          چاپگرها و متون بلکه روزنامه و مجله در ستون و
          سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
          .مورد نیاز، و لورم ایپسوم متن
          <!-- ساختگی با تولید سادگی -->
        </p>
        <button class="feature__btn btn btn--primary">
          ورود و ثبت نام پنل سازمانی
        </button>
      </div>
    </section>

    <section class="feature container block charge">
      <div class="feature__image">
        <img
          src="../assets/images/i-mac-1.png"
          alt="imac laptop"
        />
      </div>
      <div class="feature__detail">
        <h2 class="feature__title">
          خدمات تپسی برای کسل و کار ها
        </h2>
        <p class="feature__desc">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
          صنعت چاپ، و با استفاده از طراحان گرافیک است،
          چاپگرها و متون بلکه روزنامه و مجله در ستون و
          سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی
          .مورد نیاز، و لورم ایپسوم متن
          <!-- ساختگی با تولید سادگی -->
        </p>
        <button class="feature__btn btn btn--primary">
          ورود و ثبت نام پنل سازمانی
        </button>
      </div>
    </section>
  </body>
</html>
