<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <title>navbar</title>
  </head>
  <body>
    
    <header>
      
      <navbar class="navbar container padmad">
        <div class="nav__tapsi paditem">
          <a href=""
            ><img src="../assets/images/logo.svg" alt=""
          /></a>
        </div>
        <div class="nav__toggler paditem">
          <span class="toggs"></span>
          <span class="toggs"></span>
          <span class="toggs"></span>
        </div>
        <!-- <div class="nav__hamburger"> -->
        <ul class="nav__list">
          <li class="nav__item paditem">
            <a href="#">خدمات کسب و کارها</a>
          </li>
          <li class="nav__item paditem">
            <a href="#">خدمات کسب و کارها</a>
          </li>
          <li class="nav__item paditem">
            <a href="#">خدمات کسب و کارها</a>
          </li>
          <li class="nav__item paditem">
            <a href="#">خدمات کسب و کارها</a>
          </li>
          <button class="btn--nav btn btn--primary paditem">دانلود تپسی</button>
        </ul>
        <!-- </div> -->
      </navbar>
    </header>
  </body>
</html>
