<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <title>travell</title>
  </head>
  <body>
    <section class="travell container block">
      <div class="travell__slides">
        <div class="travell__slide">
          <div class="travell__img">
            <img
              src="../assets/images/travell.png"
              alt="travell image"
            />
          </div>
          <div class="travell__detail">
            <div class="detail__wrap">
              <spna class="badge">ویژه</spna>
              <p class="travell__desc">
                &bull; سفر سه روزه
              </p>
            </div>
            <div class="avatar__wrapper">
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="travell__slide">
          <div class="travell__img">
            <img
              src="../assets/images/travell.png"
              alt="travell image"
            />
          </div>
          <div class="travell__detail">
            <div class="detail__wrap">
              <spna class="badge">ویژه</spna>
              <p class="travell__desc">
                &bull; سفر سه روزه
              </p>
            </div>
            <div class="avatar__wrapper">
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
            </div>

          </div>
        </div>
        <div class="travell__slide">
          <div class="travell__img">
            <img
              src="../assets/images/travell.png"
              alt="travell image"
            />
          </div>
          <div class="travell__detail">
            <div class="detail__wrap">
              <spna class="badge">ویژه</spna>
              <p class="travell__desc">
                &bull; سفر سه روزه
              </p>
            </div>
            <div class="avatar__wrapper">
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
              <div class="avatar__container">
                <img
                  src="../assets/images/avatar-1.jpg"
                  alt="avatar"
                  class="avatar"
                />
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </body>
</html>
